*, ul, img, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
}

:root {
    /* Variables */
    --border: 1px solid #00000035;
    --font-light: #8e8e8e;
    --bg-color: #fafafa;
    --font-color: #262626;
    --blue: #3badf7;
    --box-sdw: 0 0 2px 1px #00000035;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 3.375rem;
    background-color: white;
    position: fixed;
    width: 100vw;
    border-bottom: var(--border);
    z-index: 1;
}

main {
    background-color: var(--bg-color);
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: inherit;
    width: 60.9rem;
    margin: 0 auto;
}

::placeholder {
    text-align: center;
    color: var(--font-light);
}

.row {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.sb{
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-right {
    position: fixed;
    width: 22vw;
    height: 230rem;
    margin:8rem 42.5rem;
}

/* ::hover ::active*/
.feed-user a:hover {text-decoration: underline;}
.sugestion-list h5:hover {text-decoration: underline;}
.feed-bllw svg:hover {opacity: .3;}
.mark svg:active {background-color: black;}