
/****************************** header */
.logo img {
    padding-top: 4px;
}

.search-bar {
    justify-content: flex-end;
    width: 22rem; 
    height:2rem;
}

.search-bar form {
    padding-top: 5px;
    color: #8e8e8e;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    width: 12rem; 
    height:2rem;
    border: var(--border);
    background-color: var(--bg-color);
}

input[type="search"] {
    opacity: .8;
    outline: none;
    z-index: 0;
    width: 95%;
    height: 80%;
    border: none;
    background-color: inherit;
}

.menu-h {
    width: 16rem;
}

.menu-h img {
    border-radius: 50px;
    width: 30px;
}

.menu-h ul {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
/************************** End header */

/******************************** main */


.feed-user {margin:.5rem 1rem; position: relative;}

.feed-user img {
    border-radius: 50px;
    width: 3rem;
    position: absolute;
    top: 2px;
    left:2px;
    border: 2px solid white;
}

.gradient-p {
    position: relative;
    border-radius: 50px;
    width: 3.2rem;
    height:3.2rem;
    background: linear-gradient(to right, 
    #ffcc00de, #ff00198a);
}

.feed-user a {
    position: absolute;
    top: 16px;
    left: 60px;
    font-weight: 900;
}

.fa-ellipsis-h:before {
    position: absolute;
    top: 25%;
    right: 1%;
    color: var(--font-color);
}

input[type="text"] {
    outline: none;
    z-index: 0;
    width: 95%;
    height: 80%;
    border: none;
}

.status {
    text-align: left;
    border-radius: 4px;
}

.feed {
    margin-top: 5rem;
    border: var(--border);
    border-radius: 4px;
    height: 860px;
}

.image img, .image .vd {
    margin-left: 3px;
    height: 39.61rem;
    width: 39.61rem
}

/* Arrows: left and right */
.fa-angle-left, .fa-angle-right {
    background-color: var(--font-light);
    color: white;
    border-radius: var(--border);
    border-radius: 50%;
    padding: .3rem .5rem;
    margin-top: 1.7rem;
    box-shadow: var(--box-sdw);
    opacity: .5;
}

 /* Fixed container-right */
.owner img {
    width: 60px;
    border-radius: 50px;
    margin-right: 1rem;
}

.owner {font-size: 14px;}

.owner h3, .owner h5 {
    padding-top: .3rem;
}

.switch, .follow {
    padding-top: .9rem;
}

.owner p {
    padding: 4px 0;
    color: var(--font-light);
} 

.owner a.switch, .post-comment a {
    color: var(--blue);
    font-size: 12px;
    font-weight: 900;
}

.sugestion {margin-top: 1.5rem;}

.sugestion h4 {color: var(--font-light);}

.sugestion a {
    font-size: 12px;
    color: var(--font-color);
    font-weight: 900;
    padding-top: .3rem;
}

.sugestion-list {
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin-top: 1rem;
    width: 100%;
}
.sugestion-list li {padding-top: .5rem;}

.sugestion-list img {
    border-radius: 50%;
    width: 2.5rem;
    height:2.5rem;
}

.sugestion-list h5 {
    font-size: 14px;
    margin: 0;
}

.sugestion-list p {font-size: 12px;}

.sugestion-list .follow {
    font-size: 12px;
    color: var(--blue);
    font-weight: 900;
}

.about ul {
    margin: .3rem 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 0;
    font-size: 12px;
    opacity: .4;
    color: var(--font-light);
}
.about .copyright {margin-top: 1rem;}

.likes, .notifications {
    margin: .5rem .8rem .2rem .8rem;
    font-size: 14px;
    font-weight: 900;
    margin-left: 1.2rem;
}
.like-icons a svg {width: 2.4rem;}

.line {
    background-color: #8e8e8e40;
    height: 1px;
    width: 640px;
    margin: 1rem -.8rem -1rem -1.2rem;
    padding: 0;
}

.add-comment {
    margin-top: 1.8rem;
    align-items: center;
    opacity: .5;
}

input[type="text"] {
    height:30px;
    width: 80%;
}
/************************* Responsive */
@media (max-width: 980px) {
    .container-right, .status .large {display:none;}
    .responsive, .responsive img {
      display: flex;
      justify-content: space-between;
      width: 68vw;
      margin: auto;
    }
    .menu-h ul {margin:5%;}
    .container {width:90vw;}
    .line {
        background-color: #8e8e8e40;
        height: 1px;
        width: 67.7vw;
        margin: 1rem -.8rem -1rem -1.2rem;
        padding: 0;
    }
    .feed {height: 89%;}

    @media only screen and (max-width: 576px) and (max-width:980px) {
        .container-right, .logo, .menu-h, .status .large-2 {display:none;}
        .responsive, .responsive img {
          display: flex;
          justify-content: space-between;
          width: 68vw;
          margin: auto;
        }
        .container {width:90vw;}
        .search-bar {
          justify-content: center;
          margin: 0 auto;
        }
    }
}

div>/******************************** Not responsive */
.status, .feed, .owner {
    background-color: white;
}

.status  {
    height: 7.38rem;
    margin-top: 6rem;
    margin-bottom: -4rem;
    border: var(--border);
}

.status li {
    padding: 14px 10px;
    text-align: center;
}

.status p {
    padding-top: 5px;
    font-size: 12px;
    opacity: .8;
}

.gradient {
    position: relative;
    border-radius: 50px;
    width: 4.2rem;
    height:4.2rem;
    background: linear-gradient(to right, 
    #ffcc00de, #ff00198a);
}

.status img {
    border-radius: 50px;
    width: 4rem;
    position: absolute;
    top: 2%;
    left:3%;
    border: 2px solid white;
}

.feed-user img {
    border-radius: 50px;
    width: 3rem;
    position: absolute;
    top: 2px;
    left:2px;
    border: 2px solid white;
}

.feed-user a {
    position: absolute;
    top: 16px;
    left: 60px;
    font-weight: 900;
}
.about {opacity:.6; margin-top: 1rem;}
.about a {padding: .2rem;}